


termcolor==1.1.0

terminado==0.9.4

toml==0.10.1

tqdm==4.61.1

typed-ast==1.4.1

typing-extensions==3.10.0.0

webencodings==0.5.1

Werkzeug==2.0.1

widgetsnbextension==3.5.1

wincertstore==0.2

wrapt==1.12.1

WTForms==2.3.3


